.modalcontainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.4);
}

.modalbody {
	z-index: 20;
	position: absolute;
	top: 0;
	margin: 27% 0 0 5%;
	width: 90%;
	background-color: white;
	border-radius: 10px;
	padding: 1.5rem;
}

.closeicon {
	width: 15px;
	height: 15px;
}

.header {
	font-size: 1.2rem;
}

.headericonrow {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.description {
	margin-top: 1rem;
	color: var(--subtext-gray);
	font-size: 0.8rem;
	line-height: 1.4rem;
	font-weight: 500;
}
