*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-moderate-cyan: hsl(176, 50%, 47%);
	--primary-dark-cyan: hsl(176, 72%, 28%);
	--black: hsl(0, 0, 0);
	--dark-gray: hsl(0, 0, 48%);
}

body {
	font-size: 16px;
	font-family: 'Commissioner', sans-serif;
}
